/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{
    position: relative;
}
.fl-page {
    width: auto;
    overflow: hidden;
}
.fl-content-full.container{
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img{
    max-height: 80px !important;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li{
    margin-right: 10px;
}
/* .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a{
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 16px;
} */
.navbar .nav .menu-item-has-children>a:after{
    margin-top: 0;
    content: "\f107";
    font-size: 150%;
}
.footermenu .menu-item a{
    color: #FBFBFB;
    font-family: Roboto;
    font-size: 12px;
    line-height: 23px;
}
.fl-content-slider .fl-content-slider-wrapper .fl-slide-text-left .fl-slide-foreground{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 8;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text{
	float: left;
	font-size: 14px;
	width: 100%;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span{
	float: left;
	font-weight: 600;
	letter-spacing: 0.47px;
    line-height: 16px;
    display: flex;    
    color: #ffffff;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span .storename{
    margin-left: 10px;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text a{
    color: #fff;
}
ul.storename {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.storename a,
ul.storename a p{
    color: inherit !important;
}
ul.storename a p{
    margin: 0;
}
.fl-module-content-slider .bx-wrapper {
    margin: 0 auto 0px;
}

.bx-pager.bx-default-pager {
    z-index: 1;
    position: absolute;
    bottom: 45px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	background: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background: transparent;
	border: 1px solid #ffffff;
}

.fl-col-group .top-slider-bottom-image{
	margin-top: -60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel p:first-child{
	margin: 0px;
}



.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content h1,
.home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 61px;
	line-height: 60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content p,
.home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text p{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 24px;
    padding-top: 15px;
}
.home-tab .fl-tabs-labels{
    background-color: #603978;
}
.home-tab .fl-tabs-panel .fl-tabs-label{
    background-color: #603978;
    border-bottom:1px solid #fff;
}
.home-tab .fl-tabs-panel:last-child .fl-tabs-label{
    border-bottom: 0;
}


.home-page-second-slider .fl-slide-text-left .fl-slide-foreground{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-page-second-slider .fl-slide-text-left .fl-slide-foreground .fl-slide-photo-wrap{
    order: -1;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap{
	float: right;
	margin: 100px auto;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content{
	margin: 0;
    background: #ffffff;
    padding: 60px;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content h2{
		color: #323232;
    font-size: 29px;
    font-weight: 600;
    line-height: 28px;
}


.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content .fl-slide-text p:first-child{
	color: #000000;
	font-size: 13px;
	font-weight: 300;
	line-height: 19px;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn {
	    border-radius: 3px;
    background-color: #603978;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 30px;
    text-align: center;
}


.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content h3{
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.97px;
	line-height: 20px;
	margin-bottom: 0px !important;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text h1{
    color: #FFFFFF;
    font-size: 51px;
    line-height: 60px;
	margin-bottom: 0px !important;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text p{
	  color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}


.paint-stains-bottom-sec-info .fl-module-content{
	padding: 40px 52px 40px 60px;
  background: #ffffff;
}

.paint-stains-bottom-sec-info .fl-module-content .fl-rich-text p{
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn {
	    border-radius: 3px;
    background-color: #603978;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 30px;
    text-align: center;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn:focus,
.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn:hover {
	background: #EFEFEF;
	color: #000000;
}

.slider-menu{ display: none;}
.home-tab .fl-tabs-horizontal .fl-tabs-labels{ text-align: center;}
.home-tab .fl-tabs-horizontal .fl-tabs-labels .fl-tabs-label{ float: none; display: inline-block; vertical-align: top;}
.fl-tabs-panel .fl-tab-active .fas:before{ content: "\f068";}
.store-container > div{ margin-bottom: 20px;}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button{ padding: 15px 15px; display: block; text-align: center; max-width: 220px; background: #603978; border:2px solid #603978; border-radius: 5px; font-weight: 600; font-family: "Raleway", sans-serif;  letter-spacing: 2px; font-size: 12px;}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button:hover{ background: #fff; color: #603978; border-color: #603978;}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button:hover span{ color: #603978;}

.gform_wrapper select{ padding: 7px 0px !important; background-color: #fcfcfc;border: 1px solid #e6e6e6;}
.gform_wrapper .gform_body .gform_fields .gfield_checkbox li input,
.gform_wrapper .gform_body .gform_fields .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gform_body .gform_fields .gfield_radio li input[type=radio]{ margin-top: 0 !important;}
.gform_wrapper .gform_body .gform_fields .gfield .gfield_time_ampm select{ width: auto !important; max-width: none !important;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container_date .datepicker{ width: 100%;}

.product-variations .slick-slider .slick-arrow{ top: 25%;}
.product-detail-layout-4 .button-wrapper, .product-detail-layout-5 .button-wrapper{ text-align: left;}

.storename .direction a.fl-button{ background: #603978; border: 1px solid #603978; font-family: "PT Sans Narrow", sans-serif; font-weight: 400; font-size: 16px; min-width: 300px; width: auto; text-align: center; padding: 20px 40px; border-radius: 4px; letter-spacing: 5px; }
.storename .direction a.fl-button:hover,
.storename .direction a.fl-button:focus,
.storename .direction a.fl-button:active{
    background: #fff;
    border-color: #603978 !important;
    color: #603978 !important;
}
.storename .direction a.fl-button:hover .button-text,
.storename .direction a.fl-button:focus .button-text,
.storename .direction a.fl-button:active .button-text{
    color: #603978 !important;
}

footer .fl-module-icon .fl-icon-text p,
.fl-module-info-box .storename .address p{
    margin: 0;
    padding: 0;
}
.fl-module-info-box .storename .store-container > div{
    margin-bottom: 10px;
}
.fl-module-info-box .storename .store-container > div:last-child{
    margin-bottom: 0px;
}

/* #wpadminbar{ display: none;} */
/* Media Queries */
@media (min-width:1200px){
    .fl-page-header .fl-page-header-row > .fl-page-header-logo{ display: none !important;}
}
@media (min-width:768px){
    .fl-archive .fl-post .row,
    .fl-archive .fl-post .fl-post-image-beside{ margin: 0;}
}

@media (max-width:1240px){
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li{ margin-right: 0;}
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a{ padding-left: 10px; padding-right: 10px;}
}
@media (max-width:1199px){
    .fl-page-header .fl-page-header-row > .fl-page-header-logo{ display: none !important;}
    .fl-page-header .fl-page-header-row > .fl-page-header-logo:first-child{ display: block !important;}
    .fl-page-header.fl-page-header-fixed{ display: none !important;}
}
@media (max-width:1099px){
    .container{ width: 100%; padding-left: 10px; padding-right: 10px;}
    .fl-page-bar .fl-page-bar-text{ display: flex; justify-content: space-between;}
    .fl-page-bar .fl-page-bar-text .col-md-3,
    .fl-page-bar .fl-page-bar-text .col-md-5{ width: auto; text-align: center;}
}
@media (max-width:999px){
    .fl-page-nav-wrap{ border:0;}
    .fl-page-header .fl-page-header-logo-col{ width: 100%;}
    .fl-page-header .fl-page-header-logo-col .fl-page-header-logo{ text-align: center;}

    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text{ font-size: 12px; display: block;}
}
@media (max-width:992px){
    #menu-footer-menu li a{ padding-left: 10px;padding-right: 10px;}
}
@media (max-width:840px){
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .col-sm-6 { width: 100%; text-align: center;}

}
@media (max-width:768px){
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{ padding: 0;}
    .fl-col-small,
    .fl-col-small:not(.fl-col-small-full-width){ max-width: 100%;}

    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col { width: auto !important; text-align: center;}
}
@media (max-width:767px){
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile.fl-page-nav-centered-inline-logo .fl-page-header-logo{ text-align: center;}
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span{ justify-content: center; float: none;}
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo{ margin-right: 0; padding: 0 45px;}

    #djcustom-footer .menu{ text-align: center; display: block;}
    #djcustom-footer .menu li{ display: inline-block; vertical-align: top;}

    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-title,
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-module-callout .fl-callout-title{ padding: 0; font-size: 30px; line-height: 1.25;}
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content p,
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-module-callout p{ padding: 0;}
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content h1,
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text h1{ font-size: 35px; line-height: 1.2; margin: 15px 0 10px;} 
    
    .facet_filters { position: fixed; top: 0px; left: -5px; width: 80%; height: 100%; overflow: auto; background-color: white; z-index: 10; left: -1000px; -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4); -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4); box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager, #product-list-top-filters .fl-heading,  .facetwp-counts{ text-align: center !important;}
    #product-list-top-filters .fl-col-group .fl-col { width: 100% !important;}

    #djcustom-footer #menu-footer-menu,
    #djcustom-footer #menu-footer-menu li{ display: block; text-align: left;}
    #djcustom-footer #menu-footer-menu li a{ padding-top: 10px;padding-bottom: 10px;}
}
@media (max-width:699px){
    .active-gallery-modal .product-box .fl-button{ margin: 0 auto;}
}
@media (max-width:600px){
    #wpadminbar{ position: fixed;}
}
@media (max-width:499px){
    .fl-page-bar .fl-page-bar-text{ flex-direction: column;}
}
